/*Universal style*/
html {
  font-size: 16px;
  background-image: url('./main-background-image.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  position: relative;
  color: #90262e;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


/*Style for main app*/
.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1.5rem;
  font-size: 1.5rem;
  background-color: rgba(247, 231, 206, 0.3);
}

.navbar .menu-item {
  text-decoration: none;
  padding: 0.5rem 1rem;
  color: #90262e;
  cursor: pointer;
  border-radius: 1rem;
}

.navbar .home {
  flex-grow: 1;
  font-size: 2rem;
  font-style: italic;
  font-family: cursive;
  padding: 0.5rem;
  color: #90262e;
  cursor: pointer;
  text-decoration: none;
}

.landing {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-style: italic;
  font-family: cursive;
}


/*Styles for forms*/
.login-form,
.signup-form,
.event-form {
  margin: 3rem;
  background-color: rgba(247, 231, 206, 0.3);
  width: 20rem;
  padding: 1.5rem;
  line-height: 1.5rem;
  border-radius: 1rem;
}

.form-title {
  font-size: 1.5rem;
}

.form-field {
  padding: 0.5rem 0;
}

input[type="submit"] {
  color: #90262e;
  background-color: rgba(247, 231, 206, 0.3);
  width: 25%;
  padding: 1rem 0;
  font-size: 1.2rem;
  text-align: center;
  cursor: pointer;
  border-radius: 1rem;
  border-width: 0;
}


.menu-item:hover,
input[type="submit"]:hover {
  background-color: #d1734380;
  color: #90262e;
  font-weight: bold;
  transition: background-color 0.25s linear;
}
