/*Universal style*/
html {
  font-size: 16px;
  height: 100%;
  background-image: url('./main-background-image.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
}


/*Style for main app*/
.navbar {
  display: flex;
  justify-content: space-evenly;
  padding: 1.5rem;
  font-size: 1.5rem;
  background-color: #f7e7ce;
}

.navbar .menu-item {
  text-decoration: none;
  padding: 0.5rem;
  color: #90262e;
  cursor: pointer;
}