<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Event Planner - {% block TITLE %}ADDITIONS TO TITLE GOES HERE{% endblock %}</title>
    
    <link rel="stylesheet" type="text/css" href="../static/reset.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Link secondary css files here -->
</head>
<body>
    <main>
        <div id="root"></div>
    </main>


    <!-- React script tags -->
    <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>

    <!-- Babel script tag -->
    <script crossorigin src="https://cdnjs.com/libraries/babel-standalone"></script>
    <!-- <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/6.1.19/browser.js"></script> -->
    
    <!-- jQuery script tag -->
    <script crossorigin src="https://code.jquery.com/jquery-3.4.1.js"></script>

    <!-- JavaScript script tags for Bootstrap interactivity -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>