<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Event Planner</title>
    
    <!-- jQuery -->
    <script
      src="https://code.jquery.com/jquery-3.4.1.js"
      integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
      crossorigin="anonymous">
    </script>

    <!-- Babel -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js"
      crossorigin>
    </script>

    <!-- React -->
    <script
      src="https://unpkg.com/react@16/umd/react.development.js"
      crossorigin>
    </script>
    
    <!-- ReactDOM -->
    <script
      src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"
      crossorigin>
    </script>

    <!-- React Router -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/react-router-dom/5.0.1/react-router-dom.js"
      crossorigin>
    </script>
    

    <!-- Browser Resets -->
    <link rel="stylesheet" type="text/css" href="/static/reset.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>

<body>
    <div id="root"></div>

    <!-- JSX files -->
    <script src="/static/js/components.jsx" type="text/jsx"></script>
    <script src="/static/js/app.jsx" type="text/jsx"></script>
    
</body>
</html>